.transaction-history {
  width: 600px;
  margin: 30px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transaction-history th,
.transaction-history td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.transaction-history thead {
  background-color: #f4f4f4;
  font-weight: bold;
}
